<header>
    <nav>
        <mat-toolbar class="header-fixed" style="position: fixed;" >
            <mat-toolbar-row class="toolbar-row" >
                <button *ngIf="loggedIn" [class.active]="toggleActive" (click)="toggleRightSidenav()" class="rightSidenav_toggle">Main Menu</button>
                <h2><a routerLink="/" *ngIf="!loggedIn">Log in</a></h2>
                <h2><a routerLink="/" *ngIf="loggedIn" (click)="logout()">Log out</a></h2>
            </mat-toolbar-row>
        </mat-toolbar>
    </nav>
</header>
  
