.mat-panel-title{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

h1:hover{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

.mat-body p, .mat-body-1 p, .mat-typography p{
    margin: 0 0  0px;

}