.mat-panel-title{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

h1:hover{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

.mat-drawer-inner-container.ng-tns-c154-0 {
    margin-right: 20px;
}