
<h1>Create Product</h1>
<div class="create-body">
    <div class="form-group">
        <label for="exampleInputEmail1"></label>
        <input type="text" class="form-control"  placeholder="Enter Product Name:" [formControl]="name">
        <small *ngIf="name.errors?.required && showError"><b> *Name is required.</b></small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1"></label>
        <input type="text" class="form-control" placeholder="Enter Product Description:" [formControl]="description">
        <small *ngIf="description.errors?.required && showError"><b> *Description is required.</b></small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1"></label>
        <input type="number" class="form-control" placeholder="Enter Product Price:" [formControl]="price">
        <small *ngIf="price.errors?.required && showError"><b> *Price is required.</b></small>
    </div> 
    <button type="button" class="btn btn-primary" (click)="save()">Save</button> 

</div>

