<div class="notlogged" *ngIf="!loggedIn">
  <h1 routerLink="/">Login to access the product page</h1>
</div>

<div class="loggedin" *ngIf="loggedIn">
  <h1>View Products</h1>
  <table  class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name:</th>
          <th scope="col">Description:</th>
          <th scope="col">Price:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>{{product.price}}</td>
        </tr>
      </tbody>
  </table>
</div>

