<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let products of product; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{products.name}}</td>
        <td>{{products.description}}</td>
        <td>{{products.price}}</td>
      </tr>
    </tbody>
</table>