/* 
// CSS3 Flexbox Holy Grail Layout
// Made with ❤ by @ImDigamberSingh
// https://www.positronx.io
*/
/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
  }

  #products {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  body {
      margin: 0;
      padding: 0;
      text-align: center;
      font-family: sans-serif;
  }
  
  .container {
    display:flex;
    flex-flow:row wrap;
  }

  * You can add global styles to this file, and also import other style files */
* {
    font-family: Arial, Helvetica, sans-serif;
  }
  h1 {
    color: #264D73;
    font-size: 2.5rem;
    cursor: pointer;
  }
  h2, h3 {
    color: #444;
    font-weight: lighter;
    cursor: pointer;
  }
  h3 {
    font-size: 1.3rem;
  }
 
  body, input[text] {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  a {
    cursor: pointer;
  }
  button {
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }

  .btn-delete{
    background-color: #f44336
  }

  .btn-update{
    background-color:  #4CAF50;

  }
  
  app-header, 
  app-nav, 
  app-product-list,
  app-blog-list,
  app-createproduct, 
  app-editproduct,
  app-aside, 
  app-footer,
  app-login,
  app-loggedout,
  app-register,
  app-product,
  app-secure {
    padding: 20px;
  }
  
  app-header {
    order:1;
    height:100px;
    flex:0 1 100%;
    background: #797878;
  }
  
  app-nav {
    order:2;
    flex: 0 0.5 2px;
    background: rgb(193, 191, 196);
  }
  
  app-product-list,
  app-blog-list,
  app-createproduct,
  app-editproduct,
  app-login,
  app-loggedout,
  app-register,
  app-product,
  app-secure{
    order:3;
    flex: 1;
    min-height:841px;
    background: rgb(248, 248, 248);
    align-items: center;
    padding: 50px;
  }
  
  app-aside {
    order:4;
    flex:0 1 200px;
    background: rgb(222 222 226);
  }
  
  app-footer {
    order:5;
    height:100px;
    flex:0 1 100%;
    background: rgb(119, 120, 121);
  }

  .center {
    padding: .5rem;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    app-header, 
    app-nav, 
    app-product-list,
    app-createproduct,
    app-editproduct,
    app-blog-list,
    app-aside, 
    app-footer,
    app-login,
    app-loggedout,
    app-product,
    app-register,
    app-secure {
      flex: unset;
      width: 100%;
    }
  }

  input {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
  }
  
  input:focus {
    background-color: rgb(200, 225, 233);
  }

  /* Float four columns side by side */
.column {
  float: left;
  width: 30%;
  padding: 0 10px 20px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
