<h2>Please, Register</h2>
<form [formGroup]="form" (submit)="onSubmit()">
  <input type="text" formControlName="first_name" placeholder="First Name"> <br>
  <input type="text" formControlName="last_name" placeholder="Last Name"> <br>
  <input type="email" formControlName="email" placeholder="Email"> <br>
  <input type="password" formControlName="password" placeholder="Password"> <br>
  <input type="password" formControlName="password_confirmation" placeholder="Password Confirmation"> <br>
  <button [disabled]="!form.valid">Register</button>
</form>
